@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-display: var(--font-display);
	--font-mono: var(--font-mono);
}

a {
	@apply underline hover:no-underline hover:bg-black hover:text-white underline-offset-3;
}

.hn {
	line-height: unset;
}