---
import "@/styles/global.css";
import BaseHead from "@/components/base-head.astro";
import Logo from "@/components/logo.astro";
---

<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body class="flex min-h-screen flex-col items-center justify-center px-4">
		<Logo class="h-auto w-full max-w-3xl" />

		<div class="mt-8 space-y-4 text-center font-mono text-lg">
			<p><a href="https://abhi.now/">abhigyan's</a> computer shenanigans</p>
			<p>
				i post about <a href="/links">cool links</a> and <a href="/things">tech things</a>.
			</p>
		</div>
	</body>
</html>
