---
import "@/styles/global.css";
import BaseHead from "@/components/base-head.astro";
import Logo from "@/components/logo.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="flex flex-col justify-center items-center min-h-screen px-4">
    <Logo class="w-full max-w-3xl h-auto" />

    <div class="font-mono mt-8 text-lg text-center space-y-4">
      <p><a href="https://abhi.now/">abhigyan's</a> computer shenanigans</p>
      <p>
        i post about <a href="/links">cool links</a> and <a href="/things"
          >tech things</a
        >.
      </p>
    </div>
  </body>
</html>
