---
import { Font } from 'astro:assets';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<link
			rel="icon"
			href="/favicon.ico"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<Font cssVariable="--font-display" />
		<title>Abhigyan's Com-Puu-Tah</title>
	</head>
	<body class="flex justify-center items-center min-h-screen">
		<h1 class="text-7xl font-light tracking-wider">
			<span class="text-red-600">com</span>-<span class="text-green-600">puu</span>-<span
				class="text-blue-600">tah</span
			>
		</h1>
	</body>
</html>
