<footer
	class="flex flex-col items-center justify-center space-y-4 p-6 lg:grid lg:grid-cols-[1fr_auto_1fr] lg:items-end lg:space-y-0 lg:px-8"
>
	<div class="flex items-center space-x-6 lg:self-center lg:justify-self-start">
		<a href="https://abhi.now/whoami" class="uppercase">/whoami</a>
		<a href="https://abhi.now/ai" class="uppercase">/ai</a>
	</div>
	<p class="uppercase lg:self-center lg:justify-self-center">
		copyright &copy; {new Date().getFullYear()}, <a href="https://abhi.now/" class="no-underline!"
			>abhigyan trips</a
		>.
	</p>
	<div class="flex items-center space-x-6 lg:self-center lg:justify-self-end">
		<!-- GitHub -->
		<a href="https://github.com/abhigyantrips" class="uppercase hover:bg-orange-800!"> GitHub </a>
		<!-- GitLab -->
		<a href="https://gitlab.com/abhigyantrips" class="uppercase hover:bg-amber-700!"> GitLab </a>
		<!-- LinkedIn -->
		<a href="https://linkedin.com/in/abhigyantrips" class="uppercase hover:bg-sky-700!">
			LinkedIn
		</a>
		<!-- Resume -->
		<a href="https://abhi.now/resume" class="uppercase"> Resume </a>
	</div>
</footer>
