<footer class="flex items-center justify-center lg:grid lg:grid-cols-[1fr_auto_1fr] lg:items-end p-6 lg:px-8">
    <p>h-card?</p>
    <p class="uppercase">copyright &copy; {new Date().getFullYear()}, <a href="https://abhi.now/" class="no-underline!">abhigyan trips</a>.</p>
    <div class="flex gap-2 lg:justify-self-end">
        		<a
			href="https://github.com/abhigyantrips"
			class="size-8 p-1 no-underline!"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 256 256"
				><rect
					width="256"
					height="256"
					fill="none"
				></rect><path
					d="M119.83,56A52,52,0,0,0,76,32a51.92,51.92,0,0,0-3.49,44.7A49.28,49.28,0,0,0,64,104v8a48,48,0,0,0,48,48h48a48,48,0,0,0,48-48v-8a49.28,49.28,0,0,0-8.51-27.3A51.92,51.92,0,0,0,196,32a52,52,0,0,0-43.83,24Z"
					fill="none"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="16"
				></path><path
					d="M104,232V192a32,32,0,0,1,32-32h0a32,32,0,0,1,32,32v40"
					fill="none"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="16"
				></path><path
					d="M104,208H72a32,32,0,0,1-32-32A32,32,0,0,0,8,144"
					fill="none"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="16"
				></path></svg
			>
		</a>
        <a
			href="https://gitlab.com/abhigyantrips"
			class="size-8 p-1 no-underline!"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M175.35,96,195,42.62a3.93,3.93,0,0,1,7.53.38l19.89,76.12a49,49,0,0,1-18.87,52.4l-73.26,51.76a3.91,3.91,0,0,1-4.52,0L52.48,171.52a49,49,0,0,1-18.87-52.4L53.5,43A3.93,3.93,0,0,1,61,42.62L80.65,96Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
		</a>
    </div>
</footer>