---
import "@hackernoon/pixel-icon-library/fonts/iconfont.css";
import Logo from "@/components/logo.astro";
---

<header class="flex w-full items-center justify-between p-6 lg:px-8">
  <a href="/" class="no-underline!">
    <Logo class="h-5 w-auto" />
  </a>

  <div class="flex items-center space-x-6">
    <a href="/links" class="uppercase">Links</a>
    <a href="/things" class="uppercase">Things</a>
    <a
      href="https://github.com/abhigyantrips"
      class="no-underline! size-10 p-1"
    >
      <svg
        viewBox="0 0 256 256"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
        stroke="currentColor"
        stroke-width="2.75"
        color="currentColor"
        aria-label="github"
        ><rect x="200" y="80" width="14" height="14" rx="0"></rect><rect
          x="184"
          y="64"
          width="14"
          height="14"
          rx="0"></rect><rect x="200" y="96" width="14" height="14" rx="0"
        ></rect><rect x="168" y="48" width="14" height="14" rx="0"></rect><rect
          x="72"
          y="48"
          width="14"
          height="14"
          rx="0"></rect><rect x="72" y="64" width="14" height="14" rx="0"
        ></rect><rect x="88" y="48" width="14" height="14" rx="0"></rect><rect
          x="152"
          y="48"
          width="14"
          height="14"
          rx="0"></rect><rect x="104" y="48" width="14" height="14" rx="0"
        ></rect><rect x="136" y="48" width="14" height="14" rx="0"></rect><rect
          x="120"
          y="48"
          width="14"
          height="14"
          rx="0"></rect><rect x="168" y="64" width="14" height="14" rx="0"
        ></rect><rect x="104" y="64" width="14" height="14" rx="0"></rect><rect
          x="136"
          y="64"
          width="14"
          height="14"
          rx="0"></rect><rect x="120" y="64" width="14" height="14" rx="0"
        ></rect><rect x="56" y="64" width="14" height="14" rx="0"></rect><rect
          x="40"
          y="80"
          width="14"
          height="14"
          rx="0"></rect><rect x="40" y="96" width="14" height="14" rx="0"
        ></rect><rect x="40" y="112" width="14" height="14" rx="0"></rect><rect
          x="40"
          y="128"
          width="14"
          height="14"
          rx="0"></rect><rect x="56" y="80" width="14" height="14" rx="0"
        ></rect><rect x="56" y="96" width="14" height="14" rx="0"></rect><rect
          x="56"
          y="112"
          width="14"
          height="14"
          rx="0"></rect><rect x="56" y="128" width="14" height="14" rx="0"
        ></rect><rect x="184" y="80" width="14" height="14" rx="0"></rect><rect
          x="184"
          y="96"
          width="14"
          height="14"
          rx="0"></rect><rect x="184" y="112" width="14" height="14" rx="0"
        ></rect><rect x="168" y="80" width="14" height="14" rx="0"></rect><rect
          x="184"
          y="144"
          width="14"
          height="14"
          rx="0"></rect><rect x="72" y="80" width="14" height="14" rx="0"
        ></rect><rect x="88" y="144" width="14" height="14" rx="0"></rect><rect
          x="184"
          y="128"
          width="14"
          height="14"
          rx="0"></rect><rect x="72" y="144" width="14" height="14" rx="0"
        ></rect><rect x="168" y="144" width="14" height="14" rx="0"></rect><rect
          x="152"
          y="144"
          width="14"
          height="14"
          rx="0"></rect><rect x="136" y="144" width="14" height="14" rx="0"
        ></rect><rect x="104" y="144" width="14" height="14" rx="0"></rect><rect
          x="168"
          y="128"
          width="14"
          height="14"
          rx="0"></rect><rect x="72" y="128" width="14" height="14" rx="0"
        ></rect><rect x="168" y="160" width="14" height="14" rx="0"></rect><rect
          x="152"
          y="160"
          width="14"
          height="14"
          rx="0"></rect><rect x="88" y="192" width="14" height="14" rx="0"
        ></rect><rect x="72" y="176" width="14" height="14" rx="0"></rect><rect
          x="56"
          y="176"
          width="14"
          height="14"
          rx="0"></rect><rect x="56" y="160" width="14" height="14" rx="0"
        ></rect><rect x="40" y="160" width="14" height="14" rx="0"></rect><rect
          x="152"
          y="176"
          width="14"
          height="14"
          rx="0"></rect><rect x="88" y="176" width="14" height="14" rx="0"
        ></rect><rect x="152" y="192" width="14" height="14" rx="0"></rect><rect
          x="168"
          y="192"
          width="14"
          height="14"
          rx="0"></rect><rect x="72" y="192" width="14" height="14" rx="0"
        ></rect><rect x="168" y="176" width="14" height="14" rx="0"></rect><rect
          x="184"
          y="176"
          width="14"
          height="14"
          rx="0"></rect><rect x="184" y="160" width="14" height="14" rx="0"
        ></rect><rect x="200" y="160" width="14" height="14" rx="0"></rect><rect
          x="200"
          y="128"
          width="14"
          height="14"
          rx="0"></rect><rect x="200" y="144" width="14" height="14" rx="0"
        ></rect><rect x="40" y="144" width="14" height="14" rx="0"></rect><rect
          x="200"
          y="112"
          width="14"
          height="14"
          rx="0"></rect></svg
      >
    </a>
  </div>
</header>
