---
import Logo from "@/components/logo.astro";
---

<header class="flex w-full items-center justify-between p-6 lg:px-8">
	<a href="/" class="p-1 no-underline!">
		<Logo class="h-5 w-auto" />
	</a>

	<div class="flex items-center space-x-6">
		<a href="/links" class="uppercase">Links</a>
		<a href="/things" class="uppercase">Things</a>
		<a href="https://github.com/abhigyantrips/skills" class="uppercase">Agents</a>
		<a href="https://abhi.now/projects" class="uppercase">Works</a>
	</div>
</header>
